<h1 class="this">9章【「トップへ戻る」ボタンを作ってみよう】</h1>

    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>
    <div class="box4"></div>

    <span id="back">
      <a href="#">
        <%= image_tag 'arrow.png' %>
      </a>
    </span>

<%= javascript_pack_tag 'back_to_top.js', 'data-turbolinks-track': 'reload' %>