<h1 class="this">children</h1>

<div class="children_container">
  <button>クリック</button>
  <h3>リスト</h3>
  <ul class="children">
    <li>Home</li>
    <li>Concept</li>
    <li>Products</li>
    <li>Access</li>
  </ul>
</div>

<%= javascript_pack_tag 'children.js', 'data-turbolinks-track': 'reload' %>
