<!--%= javascript_pack_tag 'app.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'if.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'while.js', 'data-turbolinks-track': 'reload' %>-->
<!--%= javascript_pack_tag 'for.js', 'data-turbolinks-track': 'reload' %>-->

<h1 class="jquery">HellojQuery!</h1>
<h2>↑クリックしたら赤色になるよ</h2>

<div class="container">
  <div class="box1">
    <p>マウス乗せたら黒枠になるよ</p>
  </div>
  <div class="box2">
    <p>クリックしたら青色になるよ</p>
  </div>
</div>

<%= javascript_pack_tag 'jquery.js', 'data-turbolinks-track': 'reload' %>