<%= javascript_pack_tag 'rock_paper_scissors.js', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <h1>ジャンケンありがと〜＾</h1>
</div>

<style>
  .container h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 40vh;
  }

</style>